.container {
    display: flex;
    gap: 40px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #cccccc;
}

.left {
    min-width: 240px;
    text-align: center;
}

.right {
    flex: 1;
    position: relative;
}

.editBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #228bc6
}

.sectionTitle {
    color: #228be6;
    margin-bottom: 20px;
}

.item {
    margin-bottom: 12px;
}

.avatarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.avatar {
    border-radius: 50%;
}

.avatarButton {
    width: 100%;
}

.dropzoneBox {
    padding: 30px;
    text-align: center;
    color: #228be6;
}